@model IEnumerable<WebApiReagentes.TB_EMPRESTIMO>

@{
    ViewBag.Title = "Emprestimo de Reagentes";
}

<h2>Emprestimo de Reagentes</h2>

<table class="table table-striped table-bordered table-hover">
    <tr>
        <th>
            Identificador do Usuários
        </th>
        <th>
            Identificador do Reagente
        </th>
        <th>
            Quantidade/Peso
        </th>
        <th>
            Data do Emprestimo
        </th>
        <th>
            @Html.ActionLink("Novo Empréstimo", "Create", null, new { @class = "btn btn-success" })
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID_USUARIO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID_REAGENTE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QT_PESO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DT_EMPRESTIMO)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID_EMPRESTIMO }, new { @class = "btn btn-primary"}) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID_EMPRESTIMO }, new { @class = "btn btn-danger"})
            </td>
        </tr>
    }

</table>
