@model WebApiReagentes.TB_REAGENTE

@{
    ViewBag.Title = "Delete";
}

<h2>Exclusão de Reagente</h2>

<h3>Você realmente deseja excluir este reagente?</h3>
<div>
    <table class="table table-striped table-bordered table-hover">
        <tr>
            <th>Descrição</th>
            <th>Código Interno</th>
            <th>Nº CAS</th>
            <th>Quantidade/Peso</th>
            <th>Unidade de Medida</th>
            <th>Observações</th>
        </tr>
        <tr>
            <td>@Html.DisplayFor(model => model.NM_DESCRICAO)</td>
            <td>@Html.DisplayFor(model => model.CD_INTERNO)</td>
            <td>@Html.DisplayFor(model => model.NR_CAS)</td>
            <td>@Html.DisplayFor(model => model.QT_PESO)</td>
            <td>@Html.DisplayFor(model => model.UN_MEDIDA)</td>
            <td>@Html.DisplayFor(model => model.DS_OBS)</td>
        </tr>
    </table>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-danger btn-lg"/> |
            @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-primary" })
        </div>
    }
</div>
