@model WebApiReagentes.TB_REAGENTE

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TB_REAGENTE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NM_DESCRICAO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NM_DESCRICAO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CD_INTERNO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CD_INTERNO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NR_CAS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NR_CAS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QT_PESO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QT_PESO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UN_MEDIDA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UN_MEDIDA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DS_OBS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DS_OBS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DS_STATUS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DS_STATUS)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_REAGENTE }) |
    @Html.ActionLink("Back to List", "Index")
</p>
