@model IEnumerable<WebApiReagentes.TB_REAGENTE>

@{
    ViewBag.Title = "Index";
}

<h2>Estoque de Reagentes</h2>

<table class="table table-striped table-bordered table-hover">
    <tr class="thead-dark">
        <th>
           Descrição
        </th>
        <th>
            Código Interno
        </th>
        <th>
            Nº CAS
        </th>
        <th>
            Quantidade Peso
        </th>
        <th>
            Observações
        </th>
        <th>
            @Html.ActionLink("Novo Reagente", "Create", null, new { @class = "btn btn-success btn-large" })
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td id="td-descricao">
            @Html.DisplayFor(modelItem => item.NM_DESCRICAO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CD_INTERNO)
        </td>
        <td id="td-nrcas">
            @Html.DisplayFor(modelItem => item.NR_CAS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QT_PESO) @Html.DisplayFor(modelItem => item.UN_MEDIDA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DS_OBS)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_REAGENTE }, new { @class = "btn btn-primary" }) 
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_REAGENTE }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
